version: '3'
services:
  nginx:
      container_name: php8-nginx
      image: nginx:latest
      ports:
        - 8888:80
      volumes:
        - ./nginx.conf:/etc/nginx/conf.d/default.conf
      volumes_from:
        - php
      links:
        - php

    php:
      container_name: php8
      build:
        context: .
        dockerfile: ./Dockerfile-fpm
      volumes:
         - ./src:/var/www/html
      ports:
        - 9999:9000
    